* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(64,106,177,1), rgba(80,133,213,1), rgba(66,146,220,1));
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------------------------------ */

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

a:hover {
    color: #4679c5;
}

form {
    width: 400px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: white;
}

h2 {
    margin-bottom: 15px;
}

label {
    font-size: 1.2em;
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
}

#login-form > a {
    text-decoration: none;
}  

#login-form > p {
    margin: 25px 0;
    font-size: 1.2em;
    text-align: center;
}

#login-form > #forgot-password {
    font-size: 0.8em;
}

#login-form > input {
    height: 35px;
    width: 400px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-sizing: content-box;
    margin: 10px 0;
}

#login-form > input:focus {
    height: 35px;
    width: 380px;
    padding: 0 10px;
    outline: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-sizing: content-box;
    margin: 10px 0;
}

#login-btn {
    cursor: pointer;
    background-color: rgb(219, 214, 214);
    font-size: 1.2em;
}

#login-btn:hover {
    background-color: rgb(161, 161, 161);
}

#check-label {
    margin-top: 15px;
    font-size: 1em !important;
}

/* ------------------------------------------------------- */

#new-account {
    margin-top: 25px;
}

#new-account > p {
    font-size: 1em;
    display: inline-block;
}

#new-account > a {
    text-decoration: none;
}

.login-other, #reset-form > div > a {
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    width: 400px;
    background-color: #F0F0F0;
    color: #ffffff;
    font-size: 1.2em;
}

.login-other > img {
    width: 22px;
    float: left;
    position: relative;
    top: 6.5px;
    left: 10px;
}

.login-other:visited {
    color: #ffffff;
}

#login-F {
    background-color: #226BCB;
}

#login-G {
    background-color: #1877F2;
}

#login-F:hover {
    background-color: #3f7bca;
}

#login-G:hover {
    background-color: #3f8bee;
}

/* -------------------------------------------------- */

#password-form > input, #reset-form > input {
    font-size: 1em;
    height: 35px;
    width: 380px;
    padding: 0 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-sizing: content-box;
    margin: 10px 0;
} 

#reset-btn, #password-btn {
    cursor: pointer;
    background-color: rgb(219, 214, 214);
}

#reset-form > div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

#reset-form > input:focus, #password-form > input:focus {
    outline: 1px solid rgb(192, 192, 192);
}

#reset-form > div > a, #reset-form > div > input {
    height: 35px;
    width: 195px;
    display: inline-block;
    box-sizing: content-box;
    border: 1px solid rgb(192, 192, 192);
    background-color: rgb(219, 214, 214);
    color: #000;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 0;
}

#reset-btn:hover, #password-btn:hover, #reset-form > div > a:hover {
    background-color: rgb(161, 161, 161);
}

#reset-form > h2, #password-form > h2 {
    margin-bottom: 15px;
}

/* --------------------------------------------------------------- */

.inputs > input {
    height: 35px;
    width: 380px;
    padding: 0 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-sizing: content-box;
    margin: 10px 0;
}

.inputs > input:focus {
    outline: 1px solid rgb(192, 192, 192);
}

.inputs > label {
    margin-top: 10px;
    display: block;
}

#go-back > p {
    margin-top: 15px;
    display: inline-block;
}

#go-back > a {
    text-decoration: none;
}